<div class="course_box"  id="course_<%=course_block['CourseId']%>" >
	<div class="course_block_content" id="course_content_<%=course_block['CourseId']%>">
			<div class="course_box_title">
			<%=course_block['Course_zhTWName']%>
			</div>			
						
			<div class="course_box_course_no">
			課號：<%=course_block['CourseNo']%>
			</div>	
			<div class="course_box_location">
			上課地點：工程四館
			</div>		
			<div class="course_box_time">
			上課時間：4EFG			
			</div>	
			<div class="course_box_description">
			<%=truncate('本課程為數位邏輯系統的基礎課程，將介紹數位系統的數值表示、布林代數與運算、常用模組與設計方法，使學生具備數位系統設計之基本能力。', length: 40, omission: '... (more)') %>
			</div>				
	</div> 			
</div>