<div class="row">
  <div class="col-sm-2"><%= @quiz['Caption']%></div>		
</div>	
<div class="row">
  <div class="col-sm-6">
	<div class="row">
	<div class="col-sm-5">測驗類型</div>
	<div class="col-sm-7">平時測驗</div>
	</div>	
	<div class="row">
	<div class="col-sm-5">開始時間</div>
	<div class="col-sm-7"><%=toFrontEndTimeFormat @quiz['BeginDate'] %></div>
	</div>	
	<div class="row">
	<div class="col-sm-5">最後入場時間</div>
	<div class="col-sm-7"><%=toFrontEndTimeFormat @quiz['EndDate'] %></div>
	</div>	
	<div class="row">
	<div class="col-sm-5">作答時間</div>
	<div class="col-sm-7">120分鐘</div>
	</div>	
	<div class="row">
	<div class="col-sm-5">作答方式</div>
	<div class="col-sm-7">一頁多題，可多次考試</div>
	</div>				  	
  </div>	
  	<div class="col-sm-6">
	<%=@quiz['Content'] %>
	</div>		
</div>	


<div class="row">
  <div class="col-sm-2"><%=link_to "開始考試", {controller: 'quiz', action: 'take', quiz_id: @quiz['QuizId']}%></div>		
</div>	