<form action="/quiz_tea/updateBasic" method="post"  id="quiz_basic_form" class="form-horizontal" role="form">
	<div class="form-group">
		<div class="col-sm-10">
			<input type="text" class="form-control" name="Caption" id="Caption" placeholder="*測驗名稱" value="<%=@result['Caption'] %>">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10">
			<textarea class="form-control" rows="3" name="Content" id="Content" placeholder="*內容說明"><%=@result['Content'] %></textarea>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label">*開始時間</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id='datetimepickerBeginDate' name="BeginDate" value="<%=toFrontEndTimeFormat @result['BeginDate'] %>">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label">*最後入場時間</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id='datetimepickerEndDate' name="EndDate" value="<%=toFrontEndTimeFormat @result['EndDate'] %>">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label">種類</label>
		<div class="col-sm-9">			
			<%=select_tag("QuizType", options_for_select(quizTypeOptions, @result['QuizType']), class: "form-control", id: "QuizType")%>	
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label">參與方式</label>
		<div class="col-sm-9">
			<%=select_tag("Invited", options_for_select(invitedOptions, @result['Invited']), class: "form-control", id: "Invited")%>	
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label">郵件通知</label>
		<div class="col-sm-9">
			<label class="checkbox-inline">
				<input type="checkbox" id="NotifyCheckbox1" <%=booleanChecked(data: @result['Notify'].to_s, checked_status: '100' )%>>
				試卷發布馬上通知 </label>
			<label class="checkbox-inline">
				<input type="checkbox" id="NotifyCheckbox2" <%=booleanChecked(data: @result['Notify'].to_s, checked_status: '010' )%>>
				測驗開始通知 </label>
			<label class="checkbox-inline">
				<input type="checkbox" id="NotifyCheckbox3" <%=booleanChecked(data: @result['Notify'].to_s, checked_status: '001' )%>>
				測驗結束前一天發提醒通知 </label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label">題目排列</label>
		<div class="col-sm-9">
			<%=select_tag("IsDisorder", options_for_select(isDisorderOptions, @result['IsDisorder']), class: "form-control", id: "IsDisorder")%>	
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-1 control-label">題目呈現方式</label>
		<div class="col-sm-9">
			<%=select_tag("DisplayType", options_for_select(displayTypeOptions, @result['DisplayType']), class: "form-control", id: "DisplayType")%>	
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-1 control-label">成績公佈方式</label>
		<div class="col-sm-9">
			<%=select_tag("DisplayScoreType", options_for_select(displayScoreTypeOptions, @result['DisplayScoreType']), class: "form-control", id: "DisplayScoreType")%>	
		</div>
	</div>	
	
</form>
<script type="text/javascript">
	$('#datetimepickerBeginDate, #datetimepickerEndDate').datetimepicker({
		use24hours : true,
		format : 'YYYY/MM/DD HH:mm'
	});	
	var quiz_basic_form = $('#quiz_basic_form');		
	$("#Caption, #Content, #datetimepickerBeginDate, #datetimepickerEndDate, #QuizType, #Invited, #NotifyCheckbox1, #NotifyCheckbox2, #NotifyCheckbox3, #IsDisorder, #DisplayType" ).change(function() {			
		$.ajax({
			type : quiz_basic_form.attr('method'),
			url : quiz_basic_form.attr('action'),
			data : {
				quiz_id: '<%= @result['QuizId']%>',
				course_id: '<%= @result['CourseId']%>', 
				Caption : $('#Caption').val(),
				Content : $('#Content').val(),
				BeginDate : $('#datetimepickerBeginDate').val(),
				EndDate : $('#datetimepickerEndDate').val(),
				QuizType : $('#QuizType').val(),
				Invited : $('#Invited').val(),
				Notify : (+$("#NotifyCheckbox1").prop('checked')).toString() + (+$("#NotifyCheckbox2").prop('checked')).toString() + (+$("#NotifyCheckbox3").prop('checked')).toString(),
				IsDisorder : $('#IsDisorder').val(),
				DisplayType : $('#DisplayType').val() 
			},
			datatype : 'json',
			success : function(data) {
				if (data.success) {
					if($('#Caption').val()) 
						$('#breadcrumb_caption').html($('#Caption').val())
					else
						$('#breadcrumb_caption').html('--')	
					//courseAlertShow('alert-success', data.message)			
				} else {
					courseAlertShow('alert-danger', data.message)
				}
			}
		});			
	});	
</script>