<%=render '/layouts/signIn'%>
<nav class="navbar navbar-fixed-top" role="navigation">
	<div class="container-fluid nav_container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to root_url, class:"navbar-brand" do%>		
			<div class="container-fluid">
	 			<div class="row">
				  <div class="col-md-2 visible-lg-inline-block"><%=image_tag 'logo.svg', class: "nav_logo"%></div>
				  <div class="col-md-10"><div class="nav_title_en">eCampus</div><div class="nav_title_ch">國立交通大學網路教學平台</div></div>
	  			</div>
			</div>	
			<%end%>
		</div>
		<div id="navbar" class="navbar-collapse collapse navbar-right menu_right">
			<ul class="nav navbar-nav">
				<li class="login_ul">
  					<a class="login_signup" href="#signup" data-toggle="modal" data-target="#signInRegisterModal">登入 / 註冊</a>			
				</li>		
				<li class="dropdown home_ul" style="display: none;">
					<%=link_to '/users/courses' do%>	
					<%=image_tag 'male.ico', class: "img-circle"%>					
					<span class="user_name"><%if currentUser%><%=currentUser.name%><%end%></span>
					<%end%>					
				</li>		
				<li class="dropdown course_ul" style="display: none;">
                  <a class="menu_widget" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-list-alt"></span></a>
                  <ul class="dropdown-menu course_shortcut" role="menu">
                  </ul>
                </li>					
				<li class="dropdown settings_ul" style="display: none;">
                  <a class="menu_widget" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">個人檔案</a></li>
                    <li><a href="/users/privacy">隱私設定</a></li>
                    <li><a href="#">密碼修改</a></li>
                    <li class="divider"></li>
                    <li><%=link_to '登出', '/users/logOut' %></li>
                  </ul>
                </li>						
				<li>
					<input type="checkbox" name="my-checkbox" checked>
				</li>				
			</ul>
		</div>
	</div>
</nav>
<script>
	$("[name='my-checkbox']").bootstrapSwitch({
		onText: '中',
		offText: 'EN'
	});	
	function courseList()
	{
		$('.course_shortcut').empty();
		$.ajax({
			type: "GET",
			url: "/users/listCourses",
			datatype : 'json',
			success : function(data) {
				if (data.success) {    
					$('.course_shortcut').append($("<li>", {class: "dropdown-header"}).html('學生'));
					$.each( data.course_stu, function( k, v ){
						$('.course_shortcut').append($("<li>").html('<a href="/courses/info?course_id='+v.course_id+'">'+v.name+'</a>'));												
					});	   										
					$('.course_shortcut').append($("<li>", {class: "divider"}));						
					$('.course_shortcut').append($("<li>", {class: "dropdown-header"}).html('助教'));								                    
					$.each( data.course_tea, function( k, v ){
						$('.course_shortcut').append($("<li>").html('<a href="/courses_tea/info?course_id='+v.course_id+'">'+v.name+'</a>'));												
					});	  					   						
				} else {
					courseAlertShow('alert-danger', data.msg)
				}
			}			
		});	
	}

$(function() {
	<%if currentUser%>
		courseList();
		$('.course_ul').show();
		$('.settings_ul').show();	
		$('.home_ul').show();			
		$('.login_ul').hide();		
	<%end%>	
});		
</script>
