<%=render '/layouts/signIn'%>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid nav_container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to root_url, class:"navbar-brand" do%>		
			<div class="container-fluid">
 			<div class="row">
			  <div class="col-md-2 visible-lg-inline-block"><%=image_tag 'logo.svg', class: "nav_logo"%></div>
			  <div class="col-md-10"><div class="nav_title_en">eCampus</div><div class="nav_title_ch">國立交通大學網路教學平台</div></div>
  			</div>
			</div>	
			<%end%>
		</div>
		<div id="navbar" class="navbar-collapse collapse navbar-right">
			<ul class="nav navbar-nav">
				<%if session[:user].blank?%>
				<li>
  				<button class="btn btn-primary btn-lg" href="#signup" data-toggle="modal" data-target="#signInRegisterModal">Sign In/Register</button>			
				</li>
				<%end%>	
				<li>
				<%=image_tag 'male.ico', class: "img-circle pull-right", size: '35x35'%>				
				</li>				
				<li>
				<%=link_to session[:name], {controller: 'users', action: 'courses'} %>						
				</li>	
				<li>
				<%=link_to 'HOME', {controller: 'users', action: 'courses'} %>							
				</li>	
										
				<li>
				<%=link_to '登出', '/users/logOut' %>
				</li>
						
				<li>
					<div class="form-group">
						<input type="checkbox" name="my-checkbox" checked>
					</div>
				</li>				
			</ul>
		</div>
	</div>
</nav>
<script>
	$("[name='my-checkbox']").bootstrapSwitch({
		onText: '中',
		offText: 'EN'
	});
</script>
